.contact-wrapper {
  background-color: black;
  border: solid black;
  color: whitesmoke;
  text-align: center;
}

.contact-wrapper img {
  width: 20%;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
}

.contact-header-text {
  text-align: center;
}

.email-wrapper {
  display: flex;
  gap: 5px;
}

.email-text {
  /* border: solid white; */
  margin-top: 40px;
}

.email-icon {
  width: 22% !important;
}

.github-icon,
.linked-icon {
  transition: transform 0.2s ease-in-out;
}

.github-icon {
  width: 40% !important;
}

.github-icon:hover,
.linked-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.linked-icon {
  width: 40% !important;
  margin-bottom: 5px;
}
