.skills-wrapper {
  text-align: center;
  padding: 2rem;
  margin-bottom: 150px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f4f4f4ce;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 70%;
}

.skill-card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.skill-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 320px) {
  /* Add your styles for small mobile devices here */

  .skill-card {
    width: 80%;
  }
}

/* Mobile (321px - 480px) */
@media (min-width: 321px) and (max-width: 480px) {
  /* Add your styles for mobile devices here */
  .skills-wrapper {
    margin-left: 0px;
  }
  .skill-card {
    width: 75%;
  }
}

/* Large Mobile / Small Tablets (481px - 767px) */
@media (min-width: 481px) and (max-width: 767px) {
  /* Add your styles for large mobile or small tablet devices here */
  .skills-wrapper {
    margin-left: 50px;
  }
  .skill-card {
    width: 80%;
  }
}

/* Laptops (1025px - 1366px) */
@media (min-width: 1025px) and (max-width: 1366px) {
  /* Add your styles for laptop devices here */
  .skills-wrapper {
    margin-left: 0px;
  }
  .skill-card {
    width: 70%;
  }
}
