.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
} 

 .project-card {
  border: solid black;
  width: 30%;
}

.project-card img {
  width: 100%;
}

.project-card-content-wrapper {
  border: solid blue;
  display: flex;
}

.project-card-text-wrapper {
  border: solid yellow;
}

.project-card-icons {
  border: solid pink;
}

.github-img {
  border: solid black;
}

.link-img {
  margin-left: 12px;
}

.project-card-icons img {
  width: 9%;
} 
